<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.k_talk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_ktalk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_ktalk_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.EditarPerfilActivity"></activity>
        <activity android:name=".Aulas.Aula06Activity" />
        <activity android:name=".Aulas.Aula05Activity" />
        <activity android:name=".Aulas.Aula04Activity" />
        <activity android:name=".Aulas.Aula03Activity" />
        <activity android:name=".Aulas.Aula02Activity" />
        <activity android:name=".Aulas.Aula01Activity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.CadastroActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>